<style type="text/css">
  .ghContributors {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }

  .ghContributors > div {
    width: 50%;
    display: inline-flex;
    margin-bottom: 5px;
  }
  .ghContributors > div label {
    padding-left: 4px;
  }
  .ghContributors > div span {
    font-size: x-small;
    padding-left: 4px;
  }
</style>
<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ $contributors := slice }}
  {{ $resource := resources.GetRemote $url }}
  {{ if $resource }}
    {{ $contributors = $resource.Content | transform.Unmarshal }}
  {{ else }}
    {{ warnf "Unable to load GitHub contributors from %q" $url }}
  {{ end }}
  {{ range $contributors }}
  <div>
    <img
      src="{{.avatar_url}}"
      alt="GitHub avatar of {{.login}}"
      class="inline"
      width="32"
      height="32"
      style="
        height: 32px;
        height: 32px;
        margin-bottom: 0.25em;
        vertical-align: middle;
      "
    />
    <label><a href="{{.html_url}}">@{{.login}}</a></label>
    <span class="contributions">{{.contributions}} commits</span>
  </div>
  {{ end }}
</div>
